section.features
  .features__wrap.container
    h3.features__title
    ul.features__items
      li.feature
        .feature__icon
        h4.feature__title Опыт
        p.feature__text Более 10 лет в промышленной безопасности
      li.feature
        .feature__icon
        h4.feature__title Профессионализм
        p.feature__text Эксперты 1 категории в области промышленной безопасности
      li.feature
        .feature__icon
        h4.feature__title Качество
        p.feature__text Лицензии, Сертификаты и допуски СРО
      li.feature
        .feature__icon
        h4.feature__title База
        p.feature__text Квалифицированные специалисты и оборудованная лаборатория

    button.btn(type="button") Перейти на наш сайт

