footer.page-footer
  .page-footer__wrap.container
    .logo.logo--bottom
      a.logo__link(href="#")
        img.logo__img(src="assets/img/logo.png")

    .map
    .copyright
      p.copyright__text &#169; 2016 "Экспертно-консультационный центр"