section.form
  .form__wrap.container
    h3.form__title Оставьте заявку
    p.form__text и мы свяжемся с вами

    form.form-application
      label.form-application__label
        input.form-application__input(type="text" name="name" placeholder="Ваше имя*")
      label.form-application__label
        input.form-application__input(type="tel" name="phone" placeholder="Ваш телефон*")
      label.form-application__label
        input.form-application__input(type="email" name="email" placeholder="Ваш E-mail*")
      button(type="submit") Оставить заявку

