section.form
  .form__wrap.container
    .form__icon
    h3.form__title Оставьте заявку
    p.form__text и мы свяжемся с вами

    form.form-application
      .form-application__group
        label.form-application__label
          input.form-application__input(type="text" name="name" placeholder="Ваше имя*" required)
        label.form-application__label
          input.form-application__input(type="tel" name="phone" placeholder="Ваш телефон*" required)
        label.form-application__label
          input.form-application__input(type="email" name="email" placeholder="Ваш E-mail*" required)
      button.btn.btn--transparent.hvr-grow(type="submit") Оставить заявку

