header.page-header
  .header-top
    .header-top__wrap.container
      nav.menu
        ul.menu__items
          li.menu__item.hvr-reveal
            a.menu__link(href="#") Главная
          li.menu__item.hvr-reveal
            a.menu__link(href="#") Услуги
          li.menu__item.hvr-reveal
            a.menu__link(href="#") Клиенты
          li.menu__item.hvr-reveal
            a.menu__link(href="#") Лицензии
          li.menu__item.hvr-reveal
            a.menu__link(href="#") Контакты

      .email-address
        span.email-adress__icon
        a.email-adress__link(href="mailto: bezis@mail.ru") bezis@mail.ru

  .header-logo
    .header-logo__wrap.container
      .logo.logo--top
        a.logo__link(href="#")
          img.logo__img(src="assets/img/logo.png")
      .phone-number
        span.phone-number__icon
        a.phone-number__link(href="tel: +74872701562") <span>+7 (4872)</span> 70-15-62


  .header-slider
    .header-slider__wrap.container
      h1.header-slider__title Аттестованные эксперты
      p.header-slider__text В области экспертизы промышленной безопасности
      button.btn.btn--transparent(type="button") Отправить заявку

  .achievements
    .achievements__wrap.container
      ul.achievements__items
        li.achievement__item
          span.achievement__number 500
          span.achievement__text  Выполненных договоров
        li.achievement__item
          span.achievement__number 10
          span.achievement__text  Лет опыта
        li.achievement__item
          span.achievement__number 100
          span.achievement__text  Довольных заказчиков
