.license {
  min-height: 800px;
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: url(../img/licenseAndDirections-bg.png);
}
.license__title {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-black;
  font-size: 35px;
  line-height: 37px;
  color: #3d3d3d;
}