.menu {
  width: 50%;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}
.menu__item {
  padding: 10px;
}


.menu__link {
  font-size: 18px;
  font-family: $font-light;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.email-address {
  display: flex;
  align-self: center;
}
.email-adress__link {
  color: #ffffff;
  text-decoration: none;
  align-self: center;
}
.email-adress__icon {
  background-position: center center;
  margin-right: 30px;
}