
.slider__item.slick-slide {
  display: flex;
  justify-content: center;
}
.slide {
  width: 280px;
}
.slide-img__wrap {
  width: 250px;
  margin: 0 auto;
  border: 14px solid #151946
}
.slide__text {
  text-align: center;
  font-family: $font-light;
  font-size: 16px;
  line-height: 19px;
}
.slider__item--clients {
  display: flex;
  flex-wrap: wrap;

}
.slide__client-item {
  width: 20%;
  height: 100px;
  background-position: center center;
}
@for $i from 1 to 16 {
  .slide__client-#{$i} {
    background-image: url("../img/clients/client_" + "#{$i}" + ".png");
    background-repeat: no-repeat;
  }
}