.sprite {
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-address {
  width: 33px;
  height: 40px;
  background-position: -5px -5px;
}

.sprite-base {
  width: 62px;
  height: 66px;
  background-position: -48px -5px;
}

.sprite-drawing-compass {
  width: 67px;
  height: 70px;
  background-position: -120px -5px;
}

.sprite-excavator-machine-arm {
  width: 88px;
  height: 73px;
  background-position: -5px -85px;
}

.sprite-experience {
  width: 46px;
  height: 66px;
  background-position: -103px -85px;
}

.sprite-mail {
  width: 40px;
  height: 32px;
  background-position: -197px -5px;
}

.sprite-mail-2 {
  width: 40px;
  height: 32px;
  background-position: -197px -47px;
}

.sprite-professionals {
  width: 66px;
  height: 58px;
  background-position: -159px -89px;
}

.sprite-quality {
  width: 64px;
  height: 66px;
  background-position: -159px -157px;
}

.sprite-rocket {
  width: 51px;
  height: 102px;
  background-position: -247px -5px;
}

.sprite-smartphone {
  width: 34px;
  height: 40px;
  background-position: -235px -117px;
}

.sprite-smartphone-2 {
  width: 36px;
  height: 41px;
  background-position: -103px -167px;
}

.sprite-worker {
  width: 68px;
  height: 72px;
  background-position: -5px -233px;
}