$font-regular: 'exo_2regular', sans-serif;
$font-light: 'exo_2light', sans-serif;
$font-black: 'exo_2black', sans-serif;
$font-semibold: 'exo_2semi_bold', sans-serif;
$font-bold: 'exo_2bold', sans-serif;