extends ../_template

block variables
  - var title = 'ЭКЦ'

block content
  .wrapper
    include ../common/_header
    include ../common/_directions
    include ../common/_features
    include ../common/_clients
    include ../common/_license
    include ../common/_form
    include ../common/_contacts
    include ../common/_footer